.tabel
{
    width: 100%;
    background: linear-gradient(235deg,#0548ff,#010615,#00bcd4);
    padding: 0;
    height: 150px;

}
.container
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container img
{
  float: left;
  width: 150px;
  height: auto;
}
body
{
display: flex;
justify-content: center;
flex-wrap: wrap;
min-height: 100vh;
background: #010615
}
.video
{
  position: absolute;
  top: 130px;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 40px 100px;
  z-index: 1000;
}
.video .logo
{
  max-width: 120px;
  cursor: pointer;
}
.video .toggle
{
  max-width: 60px;
}
.video .logo img,
.video .toggle
{
  max-width: 100%;
}
.benner
{
   position: relative;
   width: 100%;
   min-height: 100vh;
   padding: 0 100px;
   background: url(images/bg.png);
   background-position: center;
   background-size: cover;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.banner .content
{
  max-width: 550px;
}
.banner .content h2
{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  color: #fff;
}
.banner .content h2 span
{
  font-weight: 800;
}
.banner .content p
{
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 1.5em;
  color: #fff;
  margin: 15px 0 35px;
}
.play
{
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1.2em;
}
.play img
{
  margin-right: 10px;
  max-width: 50px;
}
.sci 
{
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  right: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sci li
{
  list-style: none;
}
.sci li a 
{
  text-decoration: none;
}
.sci li a img
{
  filter: invert(1);
  transform: scale(0.6);
}
.slide
{
  position: absolute;
  bottom: 50px;
  left: calc(50% - 250px / 2);
  width: 250px;
  height: 150px;
  background: url(fundal.png);
  background-size: cover;
  cursor: pointer;
  animation: animate 25s linear infinite;
}
@keyframes animate
{
  0%
}