.tabel
{
    width: 100%;
    background: linear-gradient(235deg,#0548ff,#010615,#00bcd4);
    padding: 0;
    height: 150px;

}
.container
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container img
{
  float: left;
  width: 150px;
  height: auto;
  margin-top: -40px;
}
.link
{
  display: flex;
  justify-content:flex-end;
  margin-top: 40px;

}
.link a
{
   position: relative;
   padding: 10px 30px;
   margin: 0 15px;
   color: #21ebff;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 20px;
   overflow: hidden;
   transition: 0.5s;
   -webkit-box-reflect: below 1px linear-gradient(transparent,#0003);
}
.link a:nth-child(2)
{  
  filter: hue-rotate(280deg);
}
.link a:nth-child(3)
{  
  filter: hue-rotate(900deg);
}
.link a:nth-child(4)
{  
  filter: hue-rotate(-300deg);
}
.link a:hover
{
  background: #21ebff;
  color: #111;
  box-shadow: 0 0 50px #21ebff;
  transition-delay: 0.5s;
}
.link a:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #21ebff;
  border-left: 2px solid #21ebff;
  transition: 0.5s;
}
.link a:hover:before
{
  width: 100%;
  height: 100%;
}
.link a:after
{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #21ebff;
  border-right: 2px solid #21ebff;
  transition: 0.5s;
}
.link a:hover:after
{
  width: 100%;
  height: 100%;
  transition-delay: 0s;
}
.menu-toggle
{
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
}
body
{
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
min-height: 50vh;
background: #010615;
background-image: url(images/bg2.png);
background-size: cover;
background-repeat: no-repeat;
overflow-x: hidden;
}
.video
{
  position: absolute;
  top: 130px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10px;
  z-index: 1000;
}
.video .logo
{
  max-width: 120px;
}
.video .toggle
{
  max-width: 60px;
  cursor: pointer;
}
.video .logo img,
.video .toggle img
{
  max-width: 100%;
}
.benner
{
   position: relative;
   width: 100%;
   min-height: 100vh;
   padding: 0 100px;
   background: url(images/bg.png);
   background-position: center;
   background-size: cover;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.banner .content
{
  max-width: 550px;
}
.banner .content h2
{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  color: #fff;
}
.banner .content h2 span
{
  font-weight: 800;
}
.banner .content p
{
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 1.5em;
  color: #fff;
  margin: 15px 0 35px;
}
.play
{
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 2.5em;
}
.play img
{
  margin-right: 10px;
  max-width: 100px;
}
.slide
{
  position: absolute;
  left: calc(50% 250px / 2);
  width: 300px;
  height: 200px;
  background: url(images/slide1.png);
  background-size: cover;
  cursor: pointer;
  animation: animate 25s linear infinite;
}
.slide1
{
  position: absolute;
  left: calc(50% 250px / 2);
  width: 300px;
  height: 200px;
  background: url(images/slide2.png);
  background-size: cover;
  cursor: pointer;
  animation: animate 25s linear infinite;
}
.slide2
{
  position: absolute;
  left: calc(50% 250px / 2);
  width: 300px;
  height: 200px;
  background: url(images/slide3.png);
  background-size: cover;
  cursor: pointer;
  animation: animate 25s linear infinite;
}
@keyframes animate
{
  0%,100%
  {
    background-position: top;
  }
  45%,55%
  {
    background-position: bottom;
  }
}
.videoclip
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10000;
  background: rgba(0,0,0,0.95);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}
.videoclip.active
{
  visibility: visible;
  opacity: 1;
}
.videoclip video
{
  max-width: 9000px;
  outline: none;
}
.videoclip .close
{
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  filter: invert(1);
  max-width: 150px;
}
@media (max-width: 991px)
{
  header{
    padding: 20px 50px;
  }
  header{
    padding: 20px 50px;
  }
  header .logo
  {
    max-width: 80px;
  }
  header .toggle
  {
    max-width: 40px;
  }
  .banner
  {
    padding: 100px 50px;
  }
  .banner .content
  {
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 0.05em;
  }
  .banner .content
  {
    font-size: 1em;
  }
}
::-webkit-scrollbar
{
    width: 20px;
}
::-webkit-scrollbar-track
{
    border: 5px solid #232943;
    box-shadow:  inset 0 0 2.5px 2px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb
{
    background: linear-gradient(45deg,#00ffdd,#000000, #3f9c00);
    border-radius: 5px;
}
footer
{
  background: rgb(15, 50, 78);
  height: 150px;
  width: 100vw;
  font-family: "Open Sans";
  color: #fff;
  margin-top: auto;
}
.footer-content
{
  align-items: center;
  justify-content: center;
  text-align: center;

}
.footer-content h3
{
  font-size: 1.5rem;
  font-weight: 40;
  text-transform: capitalize;
  line-height: 1em;
}
.socials
{
  list-style: none;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;

}
.socials li
{
  margin: 0 10px;
}
.socials a
{
  text-decoration: none;
  color: #fff;
}
.socials a i
{
  font-size: 1.1rem;
  transition: color .4s ease;
}
.socials a:hover i
{
  color: rgb(5, 1, 255);
}

.footer-bottom
{
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p
{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span
{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}